.cards {
    li {
        width: 100px;
        height: 200px;
        position: relative;

        .attack {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .defence {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}