.score {
    .top {
        position: absolute;
        top: 0;
    }
    .hr {
        position: absolute;
        top: 50%;
    }
    .bottom {
        position: absolute;
        bottom: 0;
    }
}